@use "../../assets/styles/variables" as vars;
@use "../../assets/styles/mixins" as mixins; // if you have a respond() mixin

.sidebar {
  align-items: center;
  backdrop-filter: blur(15px);
  background: vars.$linear-background;
  color: vars.$white-color;
  display: none;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  @include mixins.respond(laptop) {
    align-items: start;
    border-radius: vars.$primary-border-radius;
    height: 68%;
    justify-content: start;
    left: 45px;
    top: 150px;
    width: 286px;
  }
}

.sidebar.openSideBar {
  display: flex;
  overflow-y: auto;
}

.sectionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  @include mixins.respond(laptop) {
    align-items: start;
  }
}

.dropdownToggle {
  background-color: transparent;
  border: none;
  color: vars.$white-color;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: 8px;
}

.dropdown {
  display: none;
  height: fit-content;
  margin: 12px 0 8px 48px;

  li a {
    color: vars.$white-color;
    font-weight: 300;
  }
}

.dropdown.show {
  display: block;
}

.closeSideBar {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 45px;
  top: 45px;

  @include mixins.respond(laptop) {
    display: none;
  }
}

li {
  border-radius: 15px;
  color: vars.$white-color;
  cursor: pointer;
  min-height: 35px;
  padding: 10px 16px;
  position: relative;
  text-wrap: nowrap;
  width: 100%;

  &:hover {
    background-color: vars.$black-color-opacity4;
  }
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
